*{
    padding: 0;
    margin: 0;
  }
  .text{
    background-image: url(https://wallpaperaccess.com/full/2508115.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 579px;
  }